<div id="<%= dom_id post %>" class="relative flex flex-col items-center justify-center bg-white shadow-lg rounded-lg p-4 mb-6">
  <%= link_to post do %>
    <% if post.images.attached? %>
  <%= image_tag post.images.first, class: "w-full rounded-lg h-64 object-cover transition-transform hover:scale-105" %>
<% else %>
  <%= image_tag "heart.png", class: "w-full rounded-lg h-64 object-cover opacity-50" %>
<% end %>

  <% end %>
  <p class="mt-4 text-2xl text-gray-800 font-bold"><%= post.title %></p>
  <div class="flex items-center mt-4 space-x-2">
    <% like = post.likes.find_by(user: current_user) %>
    <%= link_to post_likes_path(post), data: { turbo_method: "post" }, class: "transition-opacity #{like ? 'opacity-50 pointer-events-none' : 'hover:opacity-80'}" do %>
      <%= image_tag("like.png", class: "w-8 h-8 object-cover") %>
    <% end %>
    <span class="text-gray-700 bg-blue-500 px-2 rounded-lg font-bold"><%= post.likes.count %></span>
    <%= link_to post_like_path(post, like || 0), data: { turbo_method: "delete" }, class: "transition-opacity #{like ? 'hover:opacity-80' : 'opacity-50 pointer-events-none'}" do %>
      <%= image_tag("dislike(1).png", class: "w-8 h-8 object-cover") %>
    <% end %>
  </div>
</div>